{% extends 'htmlHeadFrame.html' %}

{% block content %}
<body style="background-color: #ECECEC">
    <div class="container" style = "background-color:white" >
        <div class = page-header">
            <div class="row">
                <div class="col col-sm-12 col-md-6 col-lg-6 pull-left" style="text-align:left;"><h1> Panel Studenta</h1></div>
                <div class="col col-sm-12 col-md-6 col-lg-6 pull-left" style="text-align:right;"><a href="wylogowywanie">Wyloguj</a></div>
            </div>
            <div class="row">
                <div class="col col-lg-6 pull-left">
                    <a href="oceny"><div class="col col-lg-12 menuItems">Oceny</div></a>
                    <a href="przedmioty"><div class="col col-lg-12 menuItems">Przedmioty</div></a>
                    <a href="olatnosci"><div class="col col-lg-12 menuItems">Płatności</div></a>
                    <a href="obecnosci"><div class="col col-lg-12 menuItems">Obecności</div></a>
                    <a href="zadaniadomowe"><div class="col col-lg-12 menuItems">Zadania domowe</div></a>
                    <a href="Kontakt"><div class="col col-lg-12 menuItems">Kontakt</div></a>
                </div>
                <div class="col col-lg-6">
                    <table class="table pull-right">
                        <tr>Zalogowany jako</tr>
                        <tr>
                            <td>Imię i Nazwisko</td>
                            <td>{{student.name}} {{student.surname}}</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>{{student.email}}</td>
                        </tr>
                        <tr>
                            <td>Numer telefonu</td>
                            <td>{{student.phoneNumber}}</td>
                        </tr>
                                        <tr>
                            <td>Numer indeksu</td>
                            <td>{{student.id}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <h1>Oceny:</h1>
            <div>


            </div>
        </div>
    </div>
</body>

{% endblock %}